pytz==2021.3  # https://github.com/stub42/pytz

# Django
# ------------------------------------------------------------------------------
django==3.2.9  # pyup: < 4.0  # https://www.djangoproject.com/
django-model-utils==4.2.0  # https://github.com/jazzband/django-model-utils
django-money==2.1.1  # https://github.com/django-money/django-money/
django-filter==21.1  # https://github.com/carltongibson/django-filter/

# Django REST Framework
djangorestframework==3.12.4  # https://github.com/encode/django-rest-framework
django-cors-headers==3.10.0  # https://github.com/adamchainz/django-cors-headers
djangorestframework-simplejwt==5.0.0  # https://github.com/jazzband/djangorestframework-simplejwt

# Testing
# ------------------------------------------------------------------------------
mypy==0.910  # https://github.com/python/mypy
django-stubs==1.8.0  # https://github.com/typeddjango/django-stubs
pytest==6.2.5  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar
djangorestframework-stubs==1.4.0  # https://github.com/typeddjango/djangorestframework-stubs
factory-boy==3.2.1  # https://github.com/FactoryBoy/factory_boy

# Code quality
# ------------------------------------------------------------------------------
flake8==4.0.1  # https://github.com/PyCQA/flake8
flake8-isort==4.1.1  # https://github.com/gforcada/flake8-isort
coverage==6.1.2  # https://github.com/nedbat/coveragepy
black==21.11b1  # https://github.com/psf/black
pylint-django==2.4.4  # https://github.com/PyCQA/pylint-django
pre-commit==2.15.0  # https://github.com/pre-commit/pre-commit